<plugin name='yammer-metrics' version='0.1' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Package the yammer metrics plugin</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/yammer-metrics</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>